<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FollowersViewCode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>702A715A26E80ABA0074FD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D0AABF2610BF1B0045B210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EBAA0326B7523F00D204F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
